<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type"
		content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=l, shrink-to-fit=no">
		<title>ГлавнаяДоска объявлений</title>
		
		<link rel="stylesheet" type="text/css"
		href="{% static 'bboard/style.css' %}">

		
	</head >


	<body>
		<header>

			<h1 class="display-1 text-center" style="background: url('bg.jpg') left / auto 100% no-repeat, 
	url(bg.jpg) right / auto 100% no-repeat;"> Объявления</h1>
			
		</header>

		
	</body>
</html>
