<!DOCTYPE html>
<html lang="ru">

<head>
  <meta http-equiv="Content-Type"
	content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=l, shrink-to-fit=no">

   <title>First site</title>
</head>
<body>
    <div><a href="/articles/">Блог</a></div>

    <p></p>

    <div><a href="/blog_admin/">Администрирование блога</a></div>

    <p></p>

    <div><a href="/bboard/">Доска объявлений</a></div>

    <p></p>

    <div><a href="/bboard_admin/">Администрирование доски объявлений</a></div>

</body>
</html>
